[submodule "icestorm"]
	path = icestorm
	url = https://github.com/cliffordwolf/icestorm
[submodule "arachne-pnr"]
	path = arachne-pnr
	url = https://github.com/YosysHQ/arachne-pnr
[submodule "nextpnr"]
	path = nextpnr
	url = https://github.com/YosysHQ/nextpnr
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys
